# build artifacts / caches
dist
build
.expo
.expo-shared
*.ipa
*.aab
*.apk
*.tar.gz

# vcs
.git
.gitignore

# native folders (managed workflow doesn’t need to upload these)
ios
android

# server / other projects
server
backend
uploads
tmp
logs

# package managers
node_modules
npm-debug.log*
yarn.lock
pnpm-lock.yaml
package-lock.json
