node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.expo/
.expo-shared/
.expo-dev/
.expo-constants/
dist/
web-build/

ios/
android/
.DS_Store
.vscode/
.idea/

.env
.env.*
credentials.json
*.p8     # Apple private key
*.mobileprovision
*.p12
*.cer

*.log
